<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body style='background: url("/static/images/login-background.png");'>
    <div style=" width: 100%;
  height: 10vh;">
  <img src="/static/images/secure_ai.svg"  style="height: 10vh;width: 200px;  margin-left: 1%;
  ">
  </div>
    
</body>
</html>