<!DOCTYPE html>
<html>

<head>
    <title>File Uploader</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body style='background: url("/static/images/login-background.png");'>
    <div style=" width: 100%; height: 10vh;">
        <img src="/static/images/secure_ai.svg" style="height: 10vh;width: 200px;  margin-left: 1%;">
    </div>
    <div style="margin-top: 4%;">
        <div class="container-box" style="margin-top: 20%;">
            <video width="395" height="340" controls autoplay>
                <source src="{}" type="video/mp4">
            </video> 
        </div>
        <div class="container-box" style="margin-left: -32%; margin-top: -88%;">
           <video width="395" height="340" controls autoplay> 
            <source src={} alt="process-multiple-videos/" type="video/mp4"></video>
        </div>
    </div>
    <!-- <div style="margin-top: 4%;">
        <div class="container-box" >
            Camera Screen 3
        </div>
        <div class="container-box">
            Camera Screen 4
        </div>
    </div> -->
   
    <!-- <script src="/static/script.js"></script> -->
</body>

</html>